* {
    box-sizing: border-box;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.images {
    border: 1px dashed red;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.thumbnail {
    margin: 15px;
}

.modal-container {
    border: 1px dashed green;
    width: 550px;
    height: 550px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: opacity 1s, visibility 1s,;
}

.modal-image {
    width: 100%;
}

.close {
    font-size: 2rem;
    position: absolute;
    left: 512px;
    top: 12;
    cursor: pointer;
}